.App {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80);
  background-size: cover;
}

header {
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

header > img {
  height: 32px;
}

nav {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

span {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  letter-spacing: .5px;
  font-size: 16px;
}

.menu {
  font-size: 0px;
}

@media (max-width: 990px) {
  header {
    background-color: #212529;
    height: 72px;
    display: flex;
    align-items: center;
    
  }
  
  header > img {
    height: 23px;
    margin-right: 220px;
  }

  .menu {
    background-color: #fed136;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    color: #fff;
    border-radius: 8%;
    padding: 13px 20px;
    margin-left: 220px;
  }
  nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu {
    margin-left: 170px;
  }

  header > img {
    margin-right: 170px;
  }
}

@media (max-width: 576px) {
  header {
    position: fixed;
  }

  header > img {
    position: fixed;
    left: 20px;
  }

  .menu {
    position: fixed;
    right: 20px;
  }

}